<h2 class="font-bold text-lg text-center mb-4">
  Вітаємо на головній сторінці!
</h2>
<p class="mb-4 text-lg">
  Забруднення повітря є серйозною проблемою, яка має негативний вплив на
  здоров'я людей та навколишнє середовище. Розробка веб-сайту моніторингу стану
  повітря може допомогти вирішити цю проблему. Основна мета розробки такого
  веб-сайту - надання користувачам актуальної інформації про якість повітря у їх
  регіоні в режимі реального часу. За допомогою цього веб-сайту, люди зможуть
  швидко та зручно отримувати дані про рівень забруднення повітря та його
  складові, такі як рівень пилу, вуглекислого газу, озону та інших шкідливих
  речовин. Крім того, веб-сайт може надавати інформацію про прогноз якості
  повітря, що дозволить виконувати запобіжні дії на основі передбачуваних змін у
  якості повітря.
</p>
<p class="mb-4 text-lg">
  Це може включати поради щодо запобігання впливу поганої якості повітря на
  здоров'я, наприклад, рекомендації щодо використання захисних масок або
  обмеження активності на вулиці.
</p>
<p class="mb-4 text-lg">
  Важливим аспектом розробки веб-сайту моніторингу стану повітря є зручний та
  інтуїтивно зрозумілий інтерфейс, який дозволяє користувачам легко отримати
  необхідну інформацію. Веб-сайт може мати інтерактивну мапу, на якій
  відображаються дані про рівень забруднення повітря у різних районах або
  містах. Користувачі можуть наводити курсор на певну область або вибирати місце
  на мапі, щоб отримати детальну інформацію про якість повітря в цьому регіоні.
  Застосування розробленого веб-сайту може бути широким.
</p>
<p class="mb-4 text-lg">
  Він може бути корисним для місцевих жителів, дослідників, медичних працівників
  та урядових органів. Люди зможуть більш ефективно взаємодіяти зі своїм
  навколишнім середовищем і приймати обґрунтовані рішення щодо свого здоров'я та
  захисту довкілля.
</p>
<img
  src="assets/img/air-pollution.jpg"
  class="mb-4 object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl"
  alt="air pollution"
/>
